<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Your Contacts
            <button ng-click="addContact()" class="btn btn-primary btn-sm pull-right">
                <span class="glyphicon glyphicon-plus"></span> Add New </button>
            <div class="clearfix"></div>
        </div>

        <div class="input-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>

    <div class="panel-body fixed-panel">
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="contact in contacts | filter:search"
                ng-click="getContact(contact.id)">{{contact.name}} {{contact.surname}}

                <settings-button></settings-button>
            </li>

            </li>
        </ul>
    </div>
</div>
